// @import '../_base.scss';

.post-component {
  /* border: 2px solid $mid-grey-color;
  @include rounded(3px);
  padding: 15px;
  max-width: 100%;
  margin-bottom: 20px; */

  //----------------------------------------------------------------------------
  // Style for post stamp (created by and created at)
  //----------------------------------------------------------------------------
  div.post-stamp {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    span.posted-by {
      font-size: 13px;
    }
    span.posted-at {
      float: right;
      font-size: 13px;
      // color: $mid-grey-color;
    }
  }

  //----------------------------------------------------------------------------
  // Style for pencil and trash icons
  //----------------------------------------------------------------------------
  div.icons-container {
    display: inline-block;
    width: 100%;
    margin-top: 10px;

    span {
      display: block;
      float: right;

      i {
        // color: $mid-grey-color;
        cursor: pointer;
        margin-right: 10px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

div.edit-post-component {
  margin-bottom: 20px;

  //----------------------------------------------------------------------------
  // Style for save / cancel buttons
  //----------------------------------------------------------------------------
  div.buttons-container {
    // display: inline-block;
    // width: 100%;
    margin-top: -15px;
    // color: $mid-grey-color;

    span {
      cursor: pointer;
    }
  }
}
