/**
* @see {@link http://julian.io/how-to-use-postcss-in-meteor/}
* @see {@link https://medium.com/@juliancwirko/how-to-use-css-linter-in-meteor-c60b2f24f969#.bvya24363}
* @see {@link http://julian.io/some-things-you-may-think-about-postcss-and-you-might-be-wrong/}
*/


// @import '{}/node_modules/@blueprintjs/core/dist/variables.scss';
// @import "~react-toolbox/lib/commons";
// @import '{}/node_modules/react-toolbox/lib/commons';
// @import '{}/node_modules/basscss/css/basscss.css';

#react-root { height: 100%; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.w600 { max-width: 600px; }
.w300 { max-width: 300px; }
.pointer { cursor: pointer; }
.mtn1{ margin-top: -.5rem; }
.mtn2{ margin-top: -1rem; }
.h200 { height: 200px; }
.black { color: black; }
