// see ui/layouts/default/styles.scss

.Header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  z-index: 2;
  width: 100%;
  background-color: $grey-bg;
  border-bottom: 1px solid $grey-border;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
